.babysitters {
    md-list {
        padding: 16px;
    }
    @media (max-width:$md) {
        md-list {
            padding: 0px;
        }
    }
    .md-button#loadMore{
        margin:20px auto;
        display:block;
    }
     md-progress-circular{
        // 142px + 100
        margin-top:25vh;
        margin-bottom:calc(25vh + 76px);
        margin-right:auto;
        margin-left:auto;
    }    
    #noBabysitter{
        width:100%;
        margin:0 auto;
        text-align:center;
         .material-icons {
            font-size: 4rem;
            animation: 0.3s iconAnimate, 0.3s fadeIn;
            color:$amberAccent;
        }
        p{
            font-size:1.25rem;
        }
    }
}

#babySitterDialog {
    md-dialog {
        width: 75vw;
    }
    md-dialog-actions {
        button i.material-icons, a i.material-icons {
    	    vertical-align: inherit;
        }
    }
    .md-dialog-content {
    	.md-subheader{
    		color:$blackText;
    		background:transparent;
    		font-size:1rem;
    	}
        p.rate {
            flex-grow: 0;
            width: 20;
            font-size: 1.10rem;
        }
        .material-icons.money {
            vertical-align: middle;
        }
        h2 {
            .md-button {
                float: right;
            }
        }
    }
}
