$primary: #FFC107;
$grey: #263238;
$pText: rgba(255,255,255,0.87);
$sText: rgba(255,255,255,0.54);
$blackText: rgba(0,0,0,0.87);
$pink : #fc4482;
$green: #4caf50;
$amberAccent : #FFD740;
$whiteText: #EEEEEE;
$skyBlue: #2196f3;

// Media queries

$sm: 320px;
$md: 420px;